<h2>
  <span class="codish smaller">
    &#123;&#123;impress-slide&#125;&#125;
  </span>
</h2>
<p>
  <pre>{{#code-hljs language="handlebars"}}
  &#123;&#123;#impress-presentation class="my-presentation"&#125;&#125;
    &#123;&#123;! Using ember-composable-helpers&#125;&#125;
    &#123;&#123;#each (filter-by "someConf" mySlidesModel) as |slide|&#125;&#125;
      &#123;&#123;impress-slide
        id=slide.id
        classNames=slide.classNames
        x=slide.x
        y=slide.y
        z=slide.z
        scale=slide.scale
        rotate=slide.rotate
        rotateY=slide.rotateY
        rotateZ=slide.rotatez
        component=slide.component&#125;&#125;

      &#123;&#123;! Or&#125;&#125;

      &#123;&#123;#impress-slide id=slide.id classNames=slide.classNames x=slide.x y=slide.x&#125;&#125;
        &#123;&#123;some-reusable-component model=slide.model&#125;&#125;
      &#123;&#123;/impress-slide&#125;&#125;
    &#123;&#123;/each&#125;&#125;
  &#123;&#123;/impress-presentation&#125;&#125;
  {{/code-hljs}}</pre>
</p>
