* {
  box-sizing: border-box;
}

html {
	background-image: linear-gradient(-90deg, $canvas, white);
  //background: $canvas;
	font-family: sans-serif;
	font-weight: 100;
	line-height: 1.25em;
}

html, body {
  margin: 0;
  padding: 0;
}

main {
	display: block;

  code {
    padding: 0.25em;
  }
  
  a {
    color: $accent;
  }

  p {
    font-size: 0.9em;
  }

  @media (max-width: 600px) {
    nav.left-nav {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    nav.left-nav {
      background: $canvas-opaque-light;
      transition: background 1s 0.5s, transform 0.5s 4.5s;
    }
  }

	nav.left-nav {
    height: 100%;
		position: fixed;
		z-index: 999;
		width: 20%;
    padding: 1em;
		//background: $canvas-opaque;

		ul, li {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		ul {
      margin-top: 1em;
			border-right: 1px solid $boulder-lightest;
			li {
        position: relative;
        border-bottom: 1px dotted $boulder-lightest;
        padding-left: 0.25em;
				&:last-child {
					border: none;
				}

        &.is-active {
          border-bottom: 1px solid $boulder-lightest;
          font-weight: 600;
          &:before {
            content: '';
            display: block;
            width: 0.4em;
            height: 0.4em;
            background: $boulder-lightest;
            border-radius: 100%;
            position: absolute;
            bottom: -0.2em;
            left: -0.2em;
          }
        }

				a, span.no-link {
					text-decoration: none;
					display: inline-block;
          vertical-align: middle;
          width: 100%;
					padding: 0.5em;
					color: $accent;
          font-size: 0.9em;

          &.secondary {
            color: $secondary-accent;
          }

          .octicon {
            display: inline-block;
            vertical-align: middle;
          }
				}

				span.no-link {
					color: $boulder-light
				}
			}
		}
	}

	h1, h2, h3, h4 {
		font-family: sans-serif;
		font-weight: 100;
		padding-bottom: 0;
		margin-bottom: 0;

		.smaller {
			font-size: 90%;
		}

    p {
      &.subtitle {
        margin: 0.5em 0 0 0;
        padding: 0;
        display: inline-block;
        font-size: 0.65em;
        color: $boulder-light;
        a {
          color: $secondary-accent;
        }
      }
    }
	}

  h4 {
    font-size: 0.9em;
  }

	.codish {
		font-family: monospace;
		color: $accent;
	}

	.centered {
		text-align: center;
	}

	code {
		background: $canvas;
	}

	note {
		display: inline-block;
		font-size: 0.9em;
		padding: 0.8em 0.8em 1em 0.8em;
		background: $canvas;
		text-align: justify;
		color: $boulder-light;

		&.alert {
			position: relative;
			display: inline-block;
			padding-left: 3.5em;
			&:before {
				position: absolute;
				left: 0.25em;
				content: '\f02d';
				display: inline-block;
				font-family: monospace;
				height: 1.6em;
				width: 2em;
				font-family: "Octicons";
				text-align: center;
				font-size: 1.5em;
				font-weight: bold;
				padding-top: 0.25em;
        color: $warning;
			}
		}
	}

	hr {
		border: none;
		background: none;
		border-bottom: 1px solid $boulder;
	}

	section {
		display: block;

    pre {
      opacity: 0.9;
    }

		code {
			border-radius: 0.5em;
			padding: 0.25em;
		}
	}

  footer {
  	&.controls {
  		width: 100%;
  		height: 5em;
  		position: fixed;
  		bottom: 0;
  		left: 0;

  		nav {
  			background: $canvas-opaque;
  			position: relative;
  			left: 1%;
  			width: 98%;
  			text-align: center;
  			display: table;
  			a, span {
  				display: table-cell;
          vertical-align: middle;
  				font-family: "Lucida Console", Monaco, monospace;
  				font-weight: 600;
  				font-size: 2em;
  				padding: 0.5em;
  				cursor: pointer;

  				&.prev {
  					text-align: left;
  				}

  				&.next {
  					text-align: right;
  				}
  			}

  			span {
  				&.hint {
            padding: 0;
  					font-family: sans-serif;
  					font-weight: 100;
  					font-size: 0.75em;
  					color: $boulder;
  				}
  			}
  		}
  	}
  }
}
