.impress-demo {
	.step {
		position: relative;
		width: 100%;
		height: auto;
		padding: 5em;
		margin: 1em auto;
		box-sizing: border-box;
		font-family: sans-serif;
		width: 50em;
		min-height: 30em;
		border-radius: 1em;
		border: 1px dashed $boulder-lightest;
		background: $canvas-opaque-light;
		padding: 2em;

		&.future, &.past {
			opacity: 0.05;
			color: $boulder;
			transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
		}

		&.present {
			opacity: 1;
			transition: opacity 0.25s 0.25s, transform 0.25s 0.25s;
		}
	}
	.impress-enabled {
		pointer-events: none;
		.step {
			margin: 0;
			opacity: 0.2;
			transition: opacity 1s;
			&.active {
				opacity: 1;
			}
		}
		.hint {
			display: block;
		}
		#impress {
			pointer-events: auto;
		}
	}
	.slide {
		display: block;
	}
	.slide-circle {
		width: 700px;
		height: 700px;
		padding: 110px;
		border-radius: 100%;
		border: 2px dashed $boulder;
	}
}
