$boulder: #292E1E;
$boulder-light: #777777;
$boulder-light-opaque: rgba(119,119,119, 0.25);
$boulder-lightest: #ccc;
$canvas: #E9E3EA;
$canvas-opaque: rgba(233, 227, 234, 0.75);
$canvas-nav-opaque: rgba(255, 255, 255, 0.85);
$accent: #EE6352;
$secondary-accent: #08B2E3;
$warning: #FCC623;
