{{#if slides.length}}
  {{#each slides as |slide|}}
    {{impress-slide
      id=slide.id
      classNames=slide.classNames
      x=slide.x
      y=slide.y
      z=slide.z
      scale=slide.scale
      rotate=slide.rotate
      rotateY=slide.rotateY
      rotateZ=slide.rotatez
      partial=slide.partial
      component=slide.component}}
  {{/each}}
{{/if}}
{{#if hasBlock}}
  {{yield}}
{{/if}}

{{#if _displayHint}}
  <footer class="hint">
    <p>{{hint}}</p>
 </footer>
{{/if}}
